$primary-color-blue-dark: #266B99;
$primary-color-blue-light: #9DDDF9;
$secondary-color-blue-light: rgba(38, 107, 153, .2);
$primary-color-gray-dark: #A8C4D6;
$primary-color-gray-light:#F5F5F5;
$primary-color-red-new: #DB1616;


$shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;


$primary-font:"Montserrat";
$secondary-font:"DIN Condensed"
