@import "./variables.scss";
@import "./typography.scss";

.tab{
  &-container{
  background-color: $primary-color-blue-dark;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  border-radius: 5px;
  width:80vw;
  height:550px;
  margin-left: 1vw;
  }
  &-image{

  }
}
