@import "./variables.scss";
@import "./typography.scss";

.panel-top{
  &-container{
    margin-left: .7em;
    display:flex;
    justify-content: center;
  }
  &-main{
    box-shadow: $shadow;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-blue-dark;
    border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
    width:85vw;
    min-height:15vh;
  }

  &-input{
    width:100px;
    &-container{
      display:flex;
      justify-content: space-around;
      width:75%;
    }
  }

}
